@import "tailwindcss";

@theme {
    --color-palette-text: rgb(255, 255, 255);
    --color-palette-background: rgb(0, 0, 0);
    --color-palette-primary: rgb(29, 29, 29);
    --color-palette-secondary: rgb(97, 97, 97);
    --color-palette-accent: rgb(144, 99, 55);
    --color-palette-border-glow: rgb(255, 0, 0);
}