@import "tailwindcss";

@theme {
    --color-palette-text: oklch(100.00% 0.000 89.88);
    --color-palette-background: oklch(0.00% 0.000 0.00);
    --color-palette-primary: oklch(23.08% 0.000 89.88);
    --color-palette-secondary: oklch(49.26% 0.000 89.88);
    --color-palette-accent: oklch(53.78% 0.084 63.77);
}

